
.ipynb_checkpoints/LabSession1-2-checkpoint.ipynb
model.pt
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
*.gz
deepl_Aziz/data/MNIST/raw/train-labels-idx1-ubyte
deepl_Aziz/data/MNIST/raw/train-images-idx3-ubyte
deepl_Aziz/data/MNIST/raw/t10k-labels-idx1-ubyte
deepl_Aziz/data/MNIST/raw/t10k-images-idx3-ubyte
deepl_others/data/MNIST/raw/train-labels-idx1-ubyte
deepl_others/data/MNIST/raw/train-images-idx3-ubyte
deepl_others/data/MNIST/raw/t10k-labels-idx1-ubyte
deepl_others/data/MNIST/raw/t10k-images-idx3-ubyte
